nz-header {
  h1 {
    color: white;
    
    img {
      max-width: 40px;
    }
  }
}

nz-content {
  padding: 20px;

  .inner-content {
    background: #ffffff;
    padding: 24px;
  }
}

@media screen and (min-width: 900px) {
  nz-content {
    padding: 50px;
  }
}